.bodie {
  /* border: 1px solid rgb(101, 246, 4); */
  margin-top: 15%;
}
.bodie input {
  border-radius: 5px;
  border: 0;
  /* border: 1px solid red; */
  height: 28px;
  width: 50%;
  margin: 2% 0% 2% 0%;
}
.btn-signup {
  margin: 0% 0% 0% 0%;
  width: 50%;
  height: 25px;
  border-radius: 15px;
  border: 0;
  /* border: 1px solid red; */
  font-size: 13px;
  font-weight: 700;
  background-color: #000;
  color: #ffffff;
}
.input-cont {
  /* border: 1px solid red; */
  position: relative;
}
.ico1 {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translateY(-100%);
}
.input-cont2 {
  position: relative;
}
.foota {
  /* border: 1px solid blue; */
  margin: 5% 0% 0% 5%;
}
