.healthinfoBody {
    /* background-color: #a3d8a5; */
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 2px 2px 3px rgb(107, 100, 100);
    width: 400px;
  }
  
  .title {
    margin-bottom: 20px;
  }
  #baby-age select{
    height: auto;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 15px;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgb(107, 100, 100);
  }
  
  .image p {
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .image input {
    border: none;
    height: 25px;
    width: 100%;
  }
  
  .content {
    margin-bottom: 20px;
  }

  .healthbtn {
    background-color: #22b42298;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .textarea {
    overflow-y: auto;
    max-height: 250px;
  }
  
  /* Additional styles for responsiveness */
  
  @media screen and (max-width: 600px) {
    .formContainer {
      width: 90%;
    }
  }
  .healthinfo2{
      width: 500px;
  }

  .healthinfoBody input[type=text], .healthinfoBody select, .healthinfoBody textarea, .healthinfoBody button {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 20px 0px;
  }
  
  .healthinfoBody label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .healthinfoBody input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .healthinfoBody input[type=submit]:hover {
    background-color: #45a049;
  }
  .healthinfoBody textarea {
    min-height: 200px;
}
.healthinfoBody button:hover{
    background-color: #45a049;
}

