.icon img{
    width:30px;
    height:30px;
}
.upper{
    margin-top: 40px;
    margin-bottom:40px ;
    margin-left: 20px;
}
.lower{
    margin-left: 20px;
    line-height: 40px;
}

.icon a {
    text-decoration: none; 
    color: inherit; 
    display: inline-flex;
    align-items: center;
  }
  .icon a img {
    margin-right: 5px; 
  }
  
  .icon a .name {
    text-decoration: none;
    color: inherit; 
    
  }
  .contentContainer{
    display: flex;
  }
  .body{
    background-color: #a3d8a5;
    height: 74vh;
    width: 100%;
    margin-top: 20px;
    background-color: #a3d8a5;
  }
  .body h3{
    text-align: center;
    margin-top: 100px;
  }
  .button{
    margin-left: 30px;
    margin-top: 130px;
    
  }
  .btn{
    background-color: #a3d8a5;
    border-style: none;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
  }
  .upperpart img{
    width: 70%;
    height: 35vh;
    margin-top: 20px;
  }
  .upperpart{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .hbody{
    background-color: #a3d8a5;
    height: 110vh;
    width: 1188px;
    margin-top: 20px;
    margin-left: 10px;

    
  }
  .lowerpart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
  }
  .hbtn{
    border: 2px solid #a3d8a5 ;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
  }
  .btn1{
    display: flex;
    justify-content: center;
    align-items: center
  }
  .hbody h3{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hbody2{
    background-color: white;
    width: 80%;
    margin-left: 120px;
    height: 90%;
  }
  .mama, .baby{
   background-color: #a3d8a5; 
   width: 300px;
   
  }
  .mama{
    margin-top:40px ;
  }
  .baby h5{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mama h5{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .baby p, .mama p{
    margin-left: 20px;
  }