/* @import url('https://fonts.googleapis.com/css?family
=Poppins:100,200,300,400,500,600,700,800,900'); */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;

}
body content{
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #000;
    
}

.content{
    position: relative;
}
.content h2{
    position: absolute;
    /* color: #fff; */
    transform: translate(-50%,-50%);
    font-size: 8em;
}
.content h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #0e0f0f;
    margin-left: 40%;
    padding-top: 60px;
}
/* .content h2 :nth-child(2)
{
animation: animate 4s ease-in-out infinite;
color:#03a9f4;
} */

@keyframes animate
{
    0%,100%
  { 
    clip-path:polygon(05 45%, 155 44%, 32% 50%,
     54% 60%, 70% 61%, 84% 59%,
      100% 52%, 100% 100%, 0% 100%);

     }
     50%
      {
        clip-path:polygon(05 45%, 155 44%, 32% 50%,
        54% 60%, 70% 61%, 84% 59%,
         100% 52%, 100% 100%, 0% 100%);

      }
       }






.hono{
    color: rgb(18, 17, 17);
}
.kamur h3{
    margin-left: 10%;
}
.part-1{
    display: flex;
}
.img img{
   margin-left: 28%;
   border-radius: 30px 0px 0px 30px;
}

.care select{
    margin-top:3%;
    margin-left: 16%;
    width: 250px;
    height: 40px;
    font-size:15px;
    color: black;
}

.box-container{
    width:60%;
    height:780px;;
    background:rgb(166, 202, 166);
    opacity:20;
    margin-left: 10%;
    border-radius: 0px 30px 30px 0px;
}
.box-container input{
    margin-top:3%;
    margin-left: 25%;
    width: 350px;
    height: 40px;
    font-size:18px;
    color: black;
    border-radius: 10px;
    
}
.circle input{
    margin-left: 11%;
}

.box-container h3{
    color:black;
    text-transform: capitalize;
    font-size: 15px;
    margin-left:20%;
}
.Paragraphy-1{
 margin-left: 20%;
 font-size:15px;

}
.box-container h2{
    text-decoration: underline;
    font-size: 25px;
    margin-left: 15%;
    padding-top: 3%;
}
.hono{
    margin-left: 15%;
    font-size: 15px;
    

}
.circle{
    margin-left: 15%;
    font-size: 15px;

}
.nav-nav{
    margin-left: 20%;
}
.head{
    font-size: 15px;

}
.nav-bar{
    margin-left:1px;
}
.par{
       margin-left: 15%;
        font-size: 15px;

}
.natus{
    margin-left: 20%;
    font-size: 15px;
    margin-left: 30%;

}
.circles-1{
    width: 40px;
    height: 40px;
    background-color:white;
    border-radius: 50%;
}
.circles-2{
    width: 40px;
    height: 40px;
    background-color:white;
    border-radius: 50%;
}
.kamur{
    display: flex;
    margin-right:50%;
}

.both{
    display: flex;
    margin-left: 20%;
    gap: 200px;
}
.para{
    margin-left: 70px;
}
.parag{
    margin-left: 70px;
}
