.mainContainer {
  width: 80vw;
  height: 100vh; /* Set body height to 100% */
  margin: 0 !important; /* Remove default margin */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange children vertically */
}

#register-sides {
  display: flex;
  font-family: "Poppins", sans-serif;
  /* background-color: rgba(163, 216, 165, 0.34); */
  justify-content:center;
  align-items: center;
  margin-top: 20px;
}


.doctor-image-profile {
  position: relative;
}

.black-background-profile {
  background-color: #3b3a3a;
  width: 400px;
  height: 450px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

/* Rest of the CSS code remains the same */


#home-logo {
  margin-right: 20px; /* Adjust the margin as per your needs */
}

.doctor-image-profile img {
  max-width: 100%;
  height: auto;
  display: block;
}


#register-form {
  background-color: rgba(255, 255, 255, 0.3); /* Adjust transparency as needed */
  border-radius: 20px; /* Set border radius for curved edges */
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); Add a subtle shadow effect */
  width: min(80%, 600px); /* Set the maximum width to 80% of the parent or 300px, whichever is smaller */
  height: fit-content; /* Adjust the height based on the content */
}



/* Optional: Adjust form field styles */
#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#register-form button {
  background-color: #4caf50;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
}

#register-form button:hover {
  background-color: #45a049;
}



.register-right-side {
  text-align: left;
  margin-top: 50px;
}
#submit-login-link{
  margin-top: 20px;
}
select{
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 7px;
}
.radiosbtn{
  margin-top: 20px;
  padding-right: 40px;
  margin-bottom: 20px;
}


@media (max-width: 714px){
  .doctor-image-profile img,
  .black-background-profile {
    display: none;
  }
  #register-sides {
    font-size: 13px;
  }
  .register-right-side {
    margin-right: 150px;
  }
}
