#name-logo {
  color: #22b42298;
  margin-top: 20px;
  padding-left: 10px;
}

#name-logo span {
  color: black;
}

.header {
  background-color: white;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-left {
  display: flex;
  margin-left: 20px;
}

.pregnantico img {
  width: 50px;
  height: 60px;
  margin-top: 10px;
  color: #22b42298;
}

.header-right img {
  width: 30px;
  height: 30px;
}

.header-right {
  float: right;
  margin-top: -60px;
  margin-right: 30px;
}
.mobile-verify span{
  font-size: 14px;
}