.input-cont {
  position: relative;
}
.ico1 {
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translateY(-100%);
}
.input-cont2 {
  position: relative;
}
.ico2 {
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translateY(-100%);
}
.signupbody{
  display: flex;
}
.body h3{
  /* text-decoration-line: none; */
  margin-left: -65px;
  margin-bottom: 20px;
}
.body input{
  width: 250px;
}
.img{
  height: 520px;
  width: 300px;
}
