.all {
  background-color: #a3d8a5;
  width: 1365px;
  height: 100vh;
}
.left {
  height: 90vh;
  margin-left: 40px;
}
.overlay {
  position: relative;
  border-radius: 5%;
  width: 350px;
  height: 300px;
  left: 10px;
  right: 0;
  bottom: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.img {
  position: relative;
  /* border: 1px solid green; */
  right: 0;
  z-index: 1;
  width: 400px;
}


.body {
  /* border: 1px solid gray; */
  margin-top: 0px;
  width: 900px;
}
.body input {
  border-radius: 5px;
  border: 0;
  height: 28px;
  margin: 02% 0% 10% 0%;
}
.btn-login {
  /* margin: 0% 0% 0% 20%; */
  width: 150px;
  height: 25px;
  border-radius: 15px;
  border: 0;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer {
  /* border: 1px solid blue; */
  margin-top: 20%;
}
.link {
  text-decoration: none;
}
.logo {
  gap: 2%;
  height: 38px;
  margin: 0% 0% 0% 3%;
  padding-top: 10px;
}

.icon {
  /* border: 1px solid red; */
  background-color: #fff;
  height: 37px;
  width: 35px;
}
.logo h2 {
  margin: 0 0 0 0;
}
.loginbody{
  display:flex;
}