
*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: sans-serif;

}
.frontend{
  /* border: 1px solid green; */
  width: 100%;
  /* justify-content: center; */
  background-color: rgb(204, 240, 237);
}

.img1{
  width: 20px;
  height: 24px;
  margin-left: 20px; 
  margin-top: 5px;
  margin-bottom: 4px;
  
}
.logo{
  display: flex; 
}
h4{ 
  /* border: 1px solid red; */
  font-family: 'IBM plex sans hebreux';
  margin-top: 8px;
  
}
.navbar, span{
  color: black;
}
.homepage { 
  width: 100%;
  height: 200px;
}
.homepage .image{
  width: 100%;
  height: 300px;
  margin-left: 0;
}
.homepage .para {
  margin-top: -70px;
  margin-left: 500px;
  color: rgb(252, 252, 253);
  font-size: 16px;
  font-weight: bold;
}
.prev{
  margin-top: -140px;
  margin-left: 20px;
  color: white;
}
.next {  
  margin-top: -50px;
  margin-left: 640px;
  color: white;  
}
.prev, .next{
  font-size: 30px;
}
.h1 {
  margin-top: 110px;
  margin-bottom: 15px;
  text-align: center;
  color: rgb(39, 18, 114);
  font-weight: bold;
}
.info {
  width: 100%;
  height: 100%;
  display: flex;
  
  /* border: 2px solid blue; */
}
.more1{
  /* border: 1px solid red; */
  width: 33%;
  margin-left: 60px;
  
}
.img-u{
  /* border: 1px solid green; */
  width: 80%;
  height: 250px;
}
.para-u{
  width: 80%;
}
.more2{
  width: 140px; 
  height: 30px;
  border-radius: 10px;
  background-color:rgb(17, 14, 14) ;
  color: white;
  font-size: 16px;
}
.para1{  
  width: 40%;
  margin-left: 400px;
  margin-top: 40px;
  justify-content: center;
  line-height: 1.5em;
}
.down {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  gap: 3rem;
}
.input{
  width: 200px;
  height: 28px;
  font-size: 18px;
}
.mainwrapper{
  width:100%;
  height:100vh;
  /* background: grey; */
  display:grid;
  grid-template-rows: 0.1fr 0.9fr;
}
.oneforhead{
  /* background:#a3d8a5; */
}
.oneforbody{
  /* background:black; */
  height: 88vh;
  display:grid;
  grid-template-columns: 0.2fr 0.8fr;
}
.oneforagoche{
  /* background:yellowgreen */
}
.onefordroit{
  /* background: #a3d8a5; */
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.rightcontent{
  /* background: grey; */
  height: 500px;
  display: flex;
  gap:30px;
  justify-content: center;
  width:700px;

}
.choiceone{
  width:100%;
  display: flex;
  flex-direction: column;
}
.choiceone select{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  font-size:15px;
  height:auto;
}
.textareacontainer{
  width: 500px;
  height:300px;
  /* background: red; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  /* align-items: center; */
}
.textareacontainer textarea{
  width:100%;
  min-height:170px;
  padding:12px;
  margin-bottom: 20px;

}
#btnforsend{
  width:100%;
  padding:12px;
  background-color: #22b42298;
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: 'poppins' sans-serif;
  place-items: center;
  border: none;
}
#btnforsend:hover{
  background-color:#a3d8a5;
  border: none;
  cursor:pointer;
}





